* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.page {
    border: solid black 3pt;
}

.home-text {
    font-size: 40pt;
    font-family: "Brush Script MT";
    padding-left: 20pt;
    padding-top: 20pt;
}

.home-art {
    display: flex;
    padding-left: 50pt;
    padding-top: 50pt;
}

.art {
    width: 50px;
    height: 50px;
    border-radius: 20pt;
    margin-right: 100px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
}

.navbar:hover {
    padding: 10pt;
    box-shadow: 0 5px 5px rgb(0 0 0 / 0.2);
    border-radius: 10pt;
}