* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.page {
    display: grid;
    grid-template-areas: 
    "column1 column2 column3";
    grid-template-columns: 1fr 6fr 1fr;
}

.column1 {
    display: grid;
    grid-area: column1;
}

.column2 {
    display: grid;
    grid-area: column2;
    height: 1000px;
    margin: 20px;
}

.column3 {
    display: grid;
    grid-area: column3;
}

.column {
    background: linear-gradient(#e66465, #9198e5);
    font-family: "Brush Script MT";
    font-size: 40pt;
    padding-left: 25px;
    padding-top: 10px;
}

.recommend-profile {
    display: flex;
    float: left;
    border: solid pink 1pt;
    box-shadow: 5px 30px 40px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    height: 500px;
    padding: 20px;
}

.recommend-picture{
    display: flex;
    border: solid pink 1pt;
    border-radius: 200px;
    box-shadow: 5px 30px 40px rgb(0 0 0 / 0.2);
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.recommend-description-title {
    font-weight: bolder;
}

.recommend-description {
    padding-top: 50px;
    padding-left: 50px;
}